body {
  background-color: #2d7a8d;
 padding-bottom: 1px;
  text-decoration: none;
}
#root {
  margin: 0 auto;
  max-width: 500px;
}
.Buscador {
  text-align: center; 
}
.Buscador input {
  width: 105%;
  height: 45px;
  padding: 10px;
  font-size: 25px;
  border-radius: 30px;
  color: black;
}
.Titulo {
  font-size: 60px;
  text-align: center;
}
article>footer, article>header{
  background-color: white;
}
article{
  background-color: white;
}
p{
  color: #181c25;
}
.No-Encontrado {
  color: #181c25;
}
.icono{
  width: 350px;
  height: 400px;
}
.icono-container {
  display: flex;
  justify-content: center; 
  background-color: rgb(144, 190, 211);
  border-radius: 5px;
}
.card-container{
  width: 85%;
  justify-content: center;
 
}
.card-container h1  {
  color: #181c25;
  font-size: 40px;
}
.Card{
  width: 650px;
}
.Msj{
  text-align: center;
 padding-right: 100px;
}
p{
  font-size: 35px;
}